* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  font-family: "Verdana", sans-serif;
}

.header {
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  letter-spacing: 4px;
}

.header__strong {
  margin-right: 6px;
}

.nav__list {
  display: flex;
  list-style-type: none;
  gap: 24px;
}

.hero {
  background-image: url(./images/architect.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__title {
  color: white;
  font-size: 54px;
  font-weight: 400;
  letter-spacing: 4px;
}

.hero__title-effect {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 8px 16px;
  font-weight: 700;
}

.title {
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 16px;
  font-weight: 400;
}

.container {
  padding-inline: 24px;
}

.projects {
  margin-top: 80px;
}

.projects__list {
  margin-top: 32px;
  list-style-type: none;
}

.card__text {
  position: absolute;
  background-color: black;
  color: white;
  padding: 8px 16px;
}

